* {
    box-sizing: border-box;
}

body {
  background-color: $background-gray;
  max-width: $max-width;
//   height: 200vh;
  margin: 0 auto;
}

.introduction {
    padding: 60px;
    height: 100vh;

    p {
        font-family: 'Moderat', Fallback, sans-serif;
        font-size: $font-size-large;
        color: $black;
        margin: 0;

        line-height: 1.4;
        letter-spacing: -1px;

        &:not(last-of-type) {
            margin-bottom: 60px;
        }
    }
}
