.secret {

}

.secret {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading,
    &__subheading {
        font-family: 'Moderat', Fallback, sans-serif;
        src:    url('/fonts/Moderat-Regular.eot');
        src:    url('/fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'),
                url('/fonts/Moderat-Regular.woff') format('woff'),
                url('/fonts/Moderat-Regular.ttf') format('truetype'),
                url('/fonts/Moderat-Regular.svg#Moderat') format('svg');
        font-size: 2rem;
        color: red;
        margin-bottom: 32px;
    }

    &__container {
        width: 400px;
    }

    &__svg {
        width: 80px;
    }

    &__svg-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
}