// -------------------------------------------------------------
//  Ivy's Secret Page Styles
// -------------------------------------------------------------
.secret {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading,
    &__subheading {
        font-family: 'Moderat', Fallback, sans-serif;
        font-size: 2rem;
        color: red;
        margin-bottom: 32px;
    }

    &__container {
        width: 400px;
    }

    &__svg {
        width: 80px;
    }

    &__svg-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
}