// -------------------------------------------------------------
//  Ivy's Secret Page Styles
// -------------------------------------------------------------
.secret {
    padding: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading,
    &__subheading,
    &__button {
         font-family: 'Moderat', Fallback, sans-serif;
         font-size: 26px;
         color: red;
         margin-bottom: 26px;
    }

    &__container {
        width: 100%;
        max-width: 768px;
    }

    &__svg {
        cursor: pointer;
        width: 96px;
    }

    &__svg-button {
        cursor: pointer;
        outline: none;
        border: 0px;
        background: transparent;
        transition: .2s ease;
        transform: scale(1);

        &:hover {
            transform: scale(1.25);
        }

        &:active {
            transform: scale(.95);
        }
    }

    &__svg-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    &__hearts {
        max-width: 464px;
        margin: 26px auto;
    }

    &__button {
        display: block;
        text-align: center;
        cursor: pointer;
        outline: none;
        border: 2px solid red;
        border-radius: 8px;
        background: transparent;
        width: 100%;
        height: 108px;
        padding: 0 32px;
        transition: .2s ease;

        &:active,
        &:focus {
            background: red;
            color: #EAEAEA;
            transition: .2s ease;

            &::after {
                content: 'You\'re cute but also kinda cool';
                color: #EAEAEA;
            }

            .secret__button-text {
                display: none;
            }
        }

        &:hover {
            transform: scale(1.05);
            transition: .2s ease;
        }

        &:active {
            transform: scale(.95);
            transition: .2s ease;
        }
    }
}

@media (min-width: 768px) {
    .secret {
        &__heading,
        &__subheading,
        &__button {
            font-size: 32px;
            margin-bottom: 32px;
        }

        &__hearts {
            margin: 32px auto;
        }
    }
}

@media (min-width: 1024px) {
    .secret {
        justify-content: flex-start;
    }
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes rotate { 
    from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } 
} 

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.6s;
  -moz-animation-duration:0.6s;
  animation-duration:0.6s;
}

.rotate {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 12s; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
}

