// Colors
$gray: #313420;
$background-gray: #EAEAEA;

// Breakpoints
$large-desktop-width: 1440px;
$desktop-width: 1024px;
$tablet-width: 768px;
$max-width: $large-desktop-width;

// Fonts
$base-font-size: 16px;
$font-size-large: 72px;
$font-size-tablet: 16px;
$font-size-mobile: 14px;